<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Employee Create</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Create New Employee</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="/employees">Employees</a></li>
                <li class="breadcrumb-item active">New</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">

        <div class="card mb-3">

            <div class="card-body">

                <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Employee</h5>
                    <p class="text-center small">Enter personal details to create account</p>
                </div>

                <form class="row g-3 needs-validation" method="post" th:action="@{/employees/new}" th:object="${employee}">
                    <div class="col-12">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" name="firstName" class="form-control" id="firstName" th:field="*{firstName}" th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'">
                        <div th:if="${#fields.hasErrors('firstName')}" class="invalid-feedback" th:errors="*{firstName}"></div>
                    </div>

                    <div class="col-12">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" name="lastName" class="form-control" id="lastName" th:field="*{lastName}" th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'">
                        <div th:if="${#fields.hasErrors('lastName')}" class="invalid-feedback" th:errors="*{lastName}"></div>
                    </div>

                    <div class="col-12">
                        <label for="yourEmail" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="yourEmail" th:field="*{email}" th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'">
                        <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback" th:errors="*{email}"></div>
                    </div>

                    <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
</main>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var error = /*[[${error}]]*/ null;
            if (error) {
                alert(error);
            }
            /*]]>*/

        </script>
<section th:replace="footer-scripts.html"></section>

</html>