
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Employee List</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>List of Employees</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Employees</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <h1>Employee List</h1>

        <input type="text" id="search-input" placeholder="Search..." onkeyup="filterTable()">

        <table class="table" id="employee-table">
            <thead>
            <tr>
                <th><a href="#" th:href="@{/employees(sortField='id',sortOrder=${sortField == 'id' and sortOrder == 'asc' ? 'desc' : 'asc'})}"
                       th:text="${sortField == 'id' ? sortOrder == 'asc' ? 'ID ▼' : 'ID ▲' : 'ID'}">ID</a></th>

                <th><a href="#" th:href="@{/employees(sortField='firstName',sortOrder=${sortField == 'firstName' and sortOrder == 'asc' ? 'desc' : 'asc'})}"
                       th:text="${sortField == 'firstName' ? sortOrder == 'asc' ? 'First Name ▼' : 'First Name ▲' : 'First Name'}">First Name</a></th>

                <th><a href="#" th:href="@{/employees(sortField='lastName',sortOrder=${sortField == 'lastName' and sortOrder == 'asc' ? 'desc' : 'asc'})}"
                       th:text="${sortField == 'lastName' ? sortOrder == 'asc' ? 'Last Name ▼' : 'Last Name ▲' : 'Last Name'}">Last Name</a></th>
                <th><a href="#" th:href="@{/employees(sortField='email',sortOrder=${sortField == 'email' and sortOrder == 'asc' ? 'desc' : 'asc'})}"
                       th:text="${sortField == 'email' ? sortOrder == 'asc' ? 'Email ▼' : 'Email ▲' : 'Email'}">Email</a></th>

                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}" id="employee-row">
                <td id="id" th:text="${employee.id}"></td>
                <td id="first-name" th:text="${employee.firstName}"></td>
                <td id="last-name" th:text="${employee.lastName}"></td>
                <td id="email" th:text="${employee.email}"></td>
                <td><a th:href="@{/employees/{employeeId}/edit(employeeId=${employee.id})}">Edit</a></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (message) {
        alert(message);
    }
    /*]]>*/

    function sortTable(columnName) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("employee-table");
        switching = true;
        while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[columnName].innerHTML.toLowerCase();
                y = rows[i + 1].getElementsByTagName("TD")[columnName].innerHTML.toLowerCase();
                if (x > y) {
                    shouldSwitch = true;
                    break;
                }
            }
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

    function filterTable() {
        // Declare variables
        var input, filter, table, rows, cell, i, j;
        input = document.getElementById("search-input");
        filter = input.value.toUpperCase();
        table = document.getElementById("employee-table");
        rows = table.getElementsByTagName("tr");

        // Loop through all table rows
        for (i = 0; i < rows.length; i++) {
            // Hide the row by default
            rows[i].style.display = "none";

            // Loop through all cells in the current row
            for (j = 0; j < rows[i].cells.length; j++) {
                cell = rows[i].cells[j];

                // If the cell contains the search input, show the row
                if (cell.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    rows[i].style.display = "";
                    break;
                }
            }
        }
    }
</script>

<section th:replace="footer-scripts.html"></section>


</html>

