
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<section th:replace="header-menu.html"></section>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>List of Employees</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Employees</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <!-- EDIT THIS AS YOU WILL -->
    <section class="section dashboard">
        <div >
            <div th:if="${param.success}" class="alert alert-success">
                You are registered successfully!
            </div>
            <div >
                <h1>Find Employees</h1>
                <p >Groups of passionate near you</p>
            </div>
            <div class="row gx-5">
                <div>

                    <div th:each="employee : ${employees}">
                        <div >
                            <a th:text="${employee.id}"
                               >Project
                                name</a>
                            <a th:text="${employee.firstName}"
                               >Project
                                name</a>
                            <a th:text="${employee.lastName}"
                               >Project
                                name</a>
                            <a th:text="${employee.email}"
                               >Project
                                name</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
    <!-- END OF CONTENT -->

</main><!-- End #main -->

<section th:replace="footer-scripts.html"></section>

</html>