<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <title>Employee List</title>
</head>
<body>
<div class="container">
    <h1>Employee List</h1>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.firstName}"></td>
            <td th:text="${employee.lastName}"></td>
            <td th:text="${employee.email}"></td>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (message) {
        alert(message);
    }
    /*]]>*/
</script>
</body>
</html>
