<head >
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CHAMP Theatre</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!--Favicons-->
  <link href="/img/logo.jpg" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- ALONA -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <link href="http://code.jquery.com/ui/1.9.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
  <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
 <-->


  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">
  <title >CHAMP Theatre</title>
</head>

<header  id="header" class="header fixed-top d-flex align-items-center">

  <div class="d-flex align-items-center justify-content-between">
    <a thref="/" class="logo d-flex align-items-center">
      <img src="/img/logo.jpg" alt="">
      <span class="d-none d-lg-block">CHAMP THEATRE</span>
    </a>
    <i class="bi bi-list toggle-sidebar-btn"></i>
  </div><!-- End Logo -->

  <nav  class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <!--li class="nav-item dropdown"-->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="/img/profile.png" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Jhon Doe</span>
        </a><!-- End Profile Imge Icon -->

        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>Jhon Doe</h6>

          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="/profile">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-shield"></i>
              <span>Change Password</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>

        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->


</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside  id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link collapsed " href="#">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->


    <li class="nav-item">
      <a class="nav-link collapsed" href="/reservations">
        <i class="bi bi-journal-text"></i>
        <span>My Reservations</span>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="employees-create.html">
            <i class="bi bi-circle"></i><span>Alerts</span>
          </a>
        </li>
      </ul>
    </li><!-- Reservations Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/reservations/new">
        <i class="bi bi-plus"></i>
        <span>Create a Reservation</span>
      </a>
    </li><!-- Create a Reservation Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/requests">
        <i class="bi bi-card-checklist"></i>
        <span>Requests</span>
      </a>
    </li><!--  Request Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed " data-bs-target="#account-manage-nav" data-bs-toggle="collapse" href="/employees">
        <i class="bi bi-menu-button-wide"></i><span>Manage Accounts</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="account-manage-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li >
          <a   href="/employees">
            <i class="bi bi-circle"></i><span>View Employees</span>
          </a>
        </li>
        <li  >
          <a  href="/employees/new">
            <i class="bi bi-circle"></i><span>Create Employee</span>
          </a>
        </li>
      </ul>
    </li><!-- Manage Accounts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="/roleManagement">
        <i class="bi bi-people"></i>
        <span>Manage Roles</span>
      </a>
    </li><!-- Manage Role Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-people"></i>
        <span>Manage Theaters</span>
      </a>
    </li><!-- Manage Theaters Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" href="#">
        <i class="bi bi-shield"></i>
        <span>Change My Password</span>
      </a>
    </li><!-- Change My Password Nav -->

  </ul>


</aside><!-- End Sidebar-->