<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Profile</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Account</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Employees</li>
                <li class="breadcrumb-item active">View</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">

        <div class="row">
            <div class="col-lg-6">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Employee Full Details</h5>
                        <p>Details here</p>

                        <form class="row g-3">
                            <div class="col-md-4">
                                <label for="validationDefault01" class="form-label">First name</label>
                                <input type="text" class="form-control" id="validationDefault01" th:value="${employee.firstName}" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefault02" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="validationDefault02" th:value="${employee.lastName}" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="validationDefaultUsername" class="form-label">Username</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend2">@</span>
                                    <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" th:value="${employee.employeeAccount.username}" disabled>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="validationDefault03" class="form-label">Email</label>
                                <input type="text" class="form-control" id="validationDefault03" th:value="${employee.email}" disabled>
                            </div>
                            <div class="col-md-3">
                                <label for="validationDefault04" class="form-label">Status</label>
                                <input type="text" class="form-control" id="validationDefault04" th:value="${employee.employeeAccount.status}" disabled>
                            </div>
                        </form>
                        <!-- End Browser Default Validation -->

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<section th:replace="footer-scripts.html"></section>

</html>