<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Create Reservation</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Create New Reservation</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active"><a href="/employees">My Reservations</a></li>
                <li class="breadcrumb-item active">New</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section ">

        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Form -->
                    <div class="col-12">
                        <div class="card">


                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create a Reservation</h5>
                                    <p class="text-center small">Fill in the details below</p>
                                </div>
                                <form class="row g-3 needs-validation" method="post" th:action="@{/reservations/new}" th:object="${newReservation}">
                                    <div class="row mb-3">
                                        <label for="event_description" class="col-sm-2 col-form-label">Description</label>
                                        <div class="col-sm-10">

                                                <textarea class="form-control" style="height: 100px" name="event_description" id="event_description" th:field="*{event_description}" required></textarea>
                                                <div th:if="${#fields.hasErrors('event_description')}" class="invalid-feedback" th:errors="*{event_description}"></div>


                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label">Select Type</label>
                                        <div class="col-sm-10">
                                            <select class="form-select"  id="event_type" name="event_type" th:value="${event_type}">
                                                <option value="BUSINESS">BUSINESS</option>
                                                <option value="LEISURE">LEISURE</option>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label" for="theatreId">Theatre</label>
                                        <div class="col-sm-10">
                                            <select class="form-select"  id="theatreId" name="theatreId"  >
                                                <div  th:each="theatre : ${theaters}">
                                                    <option th:if="${theatre.status == T(com.ninjaTurtles.champtheatre.models.Theatre.Status).AVAILABLE}" th:text="${theatre.name}" th:value="${theatre.id}"></option>
                                                </div>
                                            </select>

                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label for="date" class="col-sm-2 col-form-label">Date</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="date" class="form-control" id="date"  min="" value="" onchange="filterReservations()">
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="start" class="col-sm-2 col-form-label">Starts At:</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" id="start" name="start" >
                                                <option value="8">08:00 AM</option>
                                                <option value="9">09:00 AM</option>
                                                <option value="10">10:00 AM</option>
                                                <option value="11">11:00 AM</option>
                                                <option value="12">12:00 PM</option>
                                                <option value="13">01:00 PM</option>
                                                <option value="14">02:00 PM</option>
                                                <option value="15">03:00 PM</option>
                                                <option value="16">04:00 PM</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <!-- End Time -->
                                        <label for="end" class="col-sm-2 col-form-label">Ends At:</label>
                                        <div class="col-sm-10">
                                            <select class="form-select" id="end" name="end" >
                                                <option value="9">09:00 AM</option>
                                                <option value="10">10:00 AM</option>
                                                <option value="11">11:00 AM</option>
                                                <option value="12">12:00 PM</option>
                                                <option value="13">01:00 PM</option>
                                                <option value="14">02:00 PM</option>
                                                <option value="15">03:00 PM</option>
                                                <option value="16">04:00 PM</option>
                                                <option value="17">05:00 PM</option>
                                                <option value="18">06:00 PM</option>
                                                <option value="19">07:00 PM</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row mb-3">
                                        <label for="attendees" class="col-sm-2 col-form-label">Expected Attendees</label>
                                        <div class="col-sm-10">
                                            <input type ="number" min =1 class="form-control" name="attendees" id="attendees" th:field="*{attendees}" required></input>
                                            <div th:if="${#fields.hasErrors('attendees')}" class="invalid-feedback" th:errors="*{attendees}"></div>

                                        </div>
                                    </div>

                                    <div class="row mb-3">

                                        <div class="text-center">

                                            <button type="submit" class="btn btn-primary">Reserve</button>
                                        </div>
                                    </div>

                                </form>


                            </div>

                        </div>
                    </div><!-- End Reports -->

                </div>
            </div><!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">
                <div class="card">

                    <div class="card-body">

                        <h5 class="card-title">Theatre </h5>
                        <table class="table table-hover">

                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Capacity</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="theatre : ${theaters}">
                                <td th:text="${theatre.name}"></td>

                                <td >
                                    <div th:if="${theatre.status == T(com.ninjaTurtles.champtheatre.models.Theatre.Status).OCCUPIED}">
                                        <span class="badge bg-secondary" th:text="${theatre.status}"></span>
                                    </div>
                                    <div th:if="${theatre.status == T(com.ninjaTurtles.champtheatre.models.Theatre.Status).MAINTENANCE}">
                                        <span class="badge bg-warning" th:text="${theatre.status}"></span>
                                    </div>
                                    <div th:if="${theatre.status == T(com.ninjaTurtles.champtheatre.models.Theatre.Status).AVAILABLE}">
                                        <span class="badge bg-primary" th:text="${theatre.status}"></span>
                                    </div>


                                 </td>
                                <td th:text="${theatre.capacity}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <div class="card">

                    <div class="card-body">
                        <h5 class="card-title"  style="color:red">Unavailable Slots </h5>

                        <table id="reservationTable"    style="color:red" class="table table-hover">

                            <thead>
                            <tr>
                                <th>Theatre</th>
                                <th>Start</th>
                                <th>End</th>

                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="reservation : ${reservations}" id="reservationRow" >
                                <div th:if="${reservation.status == T(com.ninjaTurtles.champtheatre.models.Reservation.Status).APPROVED  or reservation.status == T(com.ninjaTurtles.champtheatre.models.Reservation.Status).UNREVIEWED  }" >
                                    <td style="display: none;" th:text="${#dates.format(reservation.eventDate, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${reservation.theatre.name}"></td>
                                    <td th:text="${#dates.format(reservation.startTime,'h:mm a')}"></td>
                                    <td th:text="${#dates.format(reservation.endTime, 'h:mm a')}"></td>
                                </div>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
// Set the minimum and default values to the current date
var currentDate = new Date();
currentDate.setDate(currentDate.getDate() + 1);
var tomorrowDate = currentDate.toISOString().split('T')[0];

document.getElementById("date").setAttribute('min', tomorrowDate);
document.getElementById("date").value = tomorrowDate;



// time condition
  var startSelect = document.getElementById("start");
    var endSelect = document.getElementById("end");

    startSelect.addEventListener("change", function() {
        var selectedStart = parseInt(this.value);

        // Disable options earlier than selected start time and enable later options
        for (var i = 0; i < endSelect.options.length; i++) {
            var endTime = parseInt(endSelect.options[i].value);
            if (endTime <= selectedStart) {
                endSelect.options[i].disabled = true;
            } else {
                endSelect.options[i].disabled = false;
            }
        }

        // Set default end time as next available time if needed
        var selectedEnd = parseInt(endSelect.value);
        if (selectedEnd <= selectedStart) {
            for (var i = 0; i < endSelect.options.length; i++) {
                var endTime = parseInt(endSelect.options[i].value);
                if (endTime > selectedStart) {
                    endSelect.value = endTime.toString();
                    break;
                }
            }
        }
    });

function filterReservations() {
        var inputDateElement = document.getElementById("date");
        var inputDate = inputDateElement.value;
        var formattedInputDate = formatDate(inputDate);

        var rows = document.querySelectorAll("#reservationRow");

        rows.forEach(function(row) {
            var eventDate = row.cells[0].textContent;
            if (eventDate === formattedInputDate) {
                row.style.display = "";
            } else {
                row.style.display = "none";
            }
        });
    }

    function formatDate(dateString) {
        var dateParts = dateString.split("-");
        var formattedDate = dateParts[2] + "/" + dateParts[1] + "/" + dateParts[0];
        return formattedDate;
    }

filterReservations();
</script>

</script>
<section th:replace="footer-scripts.html"></section>

</html>