<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Roles</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Roles</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Created Roles</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="card mb-3">
            <div class="card-body">


            </div>
        </div>
    </section>




</main>

<section th:replace="footer-scripts.html"></section>

</html>