<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Manage Roles</title>
</head>
<section th:replace="header-menu.html"></section>

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Manage Roles</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Manage Roles</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="card mb-3">
            <div class="card-body">

                <!-- Create new role -->
                <section>
                    <br>
                    <h2>Create New Role</h2>
                    <form id="createRoleForm" method="post" th:action="@{/createRole}">
                        <!-- Role name input -->
                        <div class="row mb-3">
                            <label for="roleName" class="col-sm-2 col-form-label">Role Name:</label>
                            <div class="col-sm-10">
                                <input type="text" id="roleName" name="name" required class="form-control">
                            </div>
                        </div>
                        <br>
                        <!-- Role description input -->
                        <div class="row mb-3">
                            <label for="roleDescription" class="col-sm-2 col-form-label">Role Description:</label>
                            <div class="col-sm-10">
                                <input type="text" id="roleDescription" name="description" class="form-control">
                            </div>
                        </div>
                        <br>

                        <!-- Modules selection -->
                        <div class="row mb-3">
                            <label class="col-sm-2 col-form-label">Modules:</label>
                            <div class="col-sm-10">
                                <!-- Checkbox for each module option -->
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="employeeAccountManagement" name="modules" value="EmployeeAccountManagement">
                                    <label class="form-check-label" for="employeeAccountManagement">Employee Account Management</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="reservationConstraintManagement" name="modules" value="ReservationConstraintManagement">
                                    <label class="form-check-label" for="reservationConstraintManagement">Reservation Constraint Management</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="reservationManagement" name="modules" value="ReservationManagement">
                                    <label class="form-check-label" for="reservationManagement">Reservation Management</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="theatreManagement" name="modules" value="TheatreManagement">
                                    <label class="form-check-label" for="theatreManagement">Theatre Management</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="roleManagement" name="modules" value="RoleManagement">
                                    <label class="form-check-label" for="roleManagement">Role Management</label>
                                </div>
                            </div>
                        </div>

                        <br>
                        <!-- Submit button -->
                        <div class="row mb-3">
                            <div class="col-sm-1"></div>
                            <div class="col-sm-10 text-center">
                                <button type="submit" class="btn btn-primary w-50">Create</button>
                            </div>
                        </div>
                    </form>
                </section>

                <a href="/existingRoles" class="btn btn-primary">View Existing Roles</a>

            </div>
        </div>
    </section>
</main>


<section th:replace="footer-scripts.html"></section>


</html>
