<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Existing Roles</title>
</head>
<body>
<h1>Existing Roles</h1>

<table>
    <thead>
    <tr>
        <th>Role</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over the roles and display the data -->
    <tr th:each="role : ${roles}">
        <td id="role" th:text="${role.role}"></td>
        <td id="description" th:text="${role.description}"></td>
        <td>
            <span th:each="module : ${role.module}">
                <span id="module-name" th:text="${module.moduleName}"></span>
            </span>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
