
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Theatre List</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>List of Theatres</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Theatres</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <h1>Theatre List</h1>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Status</th>
                <th>Date Created</th>
                <th>Date Modified</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${theatre.id}"></td>
                <td th:text="${theatre.name}"></td>
                <td th:text="${theatre.capacity}"></td>
                <td th:text="${theatre.status}"></td>
                <td th:text="${theatre.createdDate}"></td>
                <td th:text="${theatre.modifiedDate}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<section th:replace="footer-scripts.html"></section>

</html>

