
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>Theatre List</title>
</head>

<section th:replace="header-menu.html"></section>

<main id="main" class="main">

    <div class="pagetitle">
        <h1>List of Theatres</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Theatres</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard">
        <h1>Theatre List</h1>
        <table class="table" id="theatre-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Status</th>
                <th colspan="1">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="theatre : ${theatres}">
                <td th:text="${theatre.id}" id="id"></td>
                <td th:text="${theatre.name}" id="name"></td>
                <td th:text="${theatre.capacity}" id="capacity"></td>
                <td th:text="${theatre.status}" id="status"></td>
                <td><a th:href="@{/theatres/{theatreId}/edit(theatreId=${theatre.id})}"><img src="/img/edit.png" alt="Edit" title="Edit"></a></td>
            </tr>
            </tbody>
        </table>
    </section>
</main>

<script th:inline="javascript">
    /*<![CDATA[*/
    var message = /*[[${message}]]*/ null;
    if (message) {
        alert(message);
    }
    /*]]>*/
</script>
<section th:replace="footer-scripts.html"></section>

</html>

